* {
  --bs-body-bg: black;
}

.btn {
  --bs-btn-border-radius: 0;
}

.card {
  border-radius: 0 !important;
}

.terminal {
  resize: none;
  border-radius: 0;
  background-color: var(--bs-body-bg) !important;
  color: lime;
  outline: none !important;
  caret-color: lime;
  /* Color of the cursor */
}

.line-numbers {
  padding: 5px;
  color: slategrey;
}

textarea:focus {
  user-select: none !important;
  outline: none !important;
  box-shadow: none !important;
}
