name: Pull Request

on:
  pull_request:
env:
  CARGO_TERM_COLOR: always
jobs:
  test:
    name: Test Suite
    runs-on: ubuntu-latest
    env:
      CARGO_REGISTRY_TOKEN: ${{secrets.CARGO_REGISTRY_TOKEN}}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          # targets: x86_64-unknown-linux-musl
      - run: cargo test --verbose -- --nocapture
      - run: cargo clippy --all-targets --all-features -- -D warnings
      - run: cargo publish --dry-run
