name: Pull Request

on:
  pull_request:
env:
  CARGO_TERM_COLOR: always
jobs:
  test:
    name: Test Suite
    runs-on: ubuntu-latest
    env:
      CARGO_REGISTRY_TOKEN: ${{secrets.CARGO_REGISTRY_TOKEN}}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: x86_64-unknown-linux-gnu
      - run: wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
      - run: sudo apt-get update && sudo apt-get install -y google-chrome-stable
      - run: git checkout -B pr_check
      - run: rustup component add clippy
      - run: cargo install cargo-release
      - run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - run: cargo test --verbose -- --nocapture
      - run: wasm-pack test --headless --firefox ./adana-script-wasm
      - run: wasm-pack test --headless --chrome ./adana-script-wasm
      - run: cargo clippy --all-targets --all-features -- -D warnings
      - run: cargo release  --no-publish  --no-tag --allow-branch pr_check  --no-push  --dependent-version  upgrade minor
        #- run: cargo publish --dry-run
