name: Release WASM

on:
  push:
    tags:
      - "**[0-9]+.[0-9]+.[0-9]+*"

env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: x86_64-unknown-linux-gnu
        run: |
          curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
          wasm-pack build --target web --release --scope nbittich ./adana-script-wasm
          wasm-pack pack ./adana-script-wasm/pkg
      - name: Upload pkg
        uses: actions/upload-artifact@v4
        with:
          name: pkg
          path: adana-script-wasm/pkg
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Download pkg
        uses: actions/download-artifact@v4
        with:
          name: pkg
          path: pkg
      - name: Publish on NPM
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"
        run: npm publish pkg/nbittich-adana-script-wasm-${{github.ref_name}}.tgz
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
